mixin anchor(link, text)
    if link
        a(href="#" + link, name=link) !{text}
    else
        !{text}

htag = "h" + level

if level <= 3
    #{htag}: !{text}
else
    #{htag}: +anchor(link, text)
