mixin doc-versions(versions, path)
	div.versions.clearfix
		h3
			| Versions
		ul
			each ver in versions
				li
					if version == ver
						a(href="#{path}#{ver}#{file ? '/' + file : ''}", class='selected')
							| #{ver}
					else
						a(href="#{path}#{ver}#{file ? '/' + file : ''}")
							| #{ver}

mixin docs(content, versions, path)
	.docs.overview.clearfix.wrapper

		mixin doc-versions(versions, path)

		.toc
			include ./docs/toc

		.content
			| !{content}

