h2.visually-hidden Products

mixin project-link(project, alt)
	mixin image
		img(src="/images/logo/#{project}.png", alt=alt)
	li(class=project)
		if project == site
			a.selected(href="/#{project}"): mixin image
		else
			a(href="/#{project}"): mixin image

ul
	mixin project-link('prime', 'Prime')
	mixin project-link('elements', 'Elements')
	mixin project-link('moofx', 'MooFx')
	mixin project-link('agent', 'Agent')
