h2.visually-hidden Projects

mixin project-link(project, alt)
	li(class=project)
		if project == site
			a.selected(href="/#{project}")
				img(src="/images/logo/#{project}-negative.png", alt=alt)
		else
			a(href="/#{project}")
				img(src="/images/logo/#{project}.png", alt=alt)

ul
	mixin project-link('core', 'Core')
	mixin project-link('more', 'More')

