extends ../layouts/main

block header-logo
	include partials/header

block header-menu
	include partials/header-menu

block main
	.guides.overview.clearfix.wrapper
		h2= guide.title
		p
			space = " "
			strong= "Author: "
			| #{guide.author} #{space}
			strong= "Date: "
			| #{guide.date}
		| !{guide.content}
