extends ../layouts/main

block main
	.clearfix.wrapper.blog

		each post in posts
			a(href="/blog/#{post.url}")
				h3
					| #{post.title}

			small
				space = ""
				| Written by #{post.author} on #{dateable(post.date, "D MMMM YYYY")} – #{space}
				a(href="/blog/#{post.url}#disqus_thread") Comments

			.post.short
				| !{post.summary}

			hr

		if nextPage
			a(href="/blog/page/#{nextPage}") Older Entries

		if previousPage
			a(href="/blog/page/#{previousPage}") Newer Entries

	include ../partials/disqus_count
