extends ../layouts/main

include ./partials/postedUnder

block main
	.clearfix.wrapper.blog

		each post in posts
			a(href="/blog/#{post.url}")
				h3
					| #{post.title}

			small
				space = ""
				| Written by #{post.author} on #{dateable(post.date, "D MMMM YYYY")} – #{space}
				a(href="/blog/#{post.url}#disqus_thread") Comments
				mixin postedUnder(post.tags)

			.post.short
				| !{post.summary}

			hr

		if nextPage
			if tag
				a(href="/blog/category/#{tag}/page/#{nextPage}") Older Entries
			else
				a(href="/blog/page/#{nextPage}") Older Entries

		if previousPage
			if tag
				a(href="/blog/category/#{tag}/page/#{previousPage}") Newer Entries
			else
				a(href="/blog/page/#{previousPage}") Newer Entries

	include ../partials/disqus_count
