extends ../layouts/main
include ../partials/older-version-select

block main
	.clearfix.wrapper.builder

		div.header.clearfix
			h1 Download complete source
			form(method="post", action="../builder")
				input(hidden, name="project", value="#{project}")
				.save

					label
						input(type="checkbox", name="minified", value="1")
						| Download minified source code

					label
						input(type="checkbox", name="compat", value="1")
						| Download with compat layer

					if project != 'Core'
						label
							input(type="checkbox", name="removeCoreDependencies", value="1")
							| Remove MooTools Core's dependencies
								
					label
						a.button.highlighted.getFile(href='#')
							span Download MooTools #{project}
							span.version Ver. #{version}
							span.icon.download(aria-hidden='true')					

		div.header.clearfix
			h1 Download your customized version
			
			h3 Choose which modules you want to use

		form(method="post", action="../builder")
			input(hidden, name="project", value="#{project}")
			table#builderOptions
				tr
					td 
					td File
					td Provides
					td Description

				each yaml, module in dependencies
					tr
						td 
							input(type="checkbox", value="#{project}/#{module}", name="modules[]", data-provides="#{yaml.prov}", data-requires="#{yaml.req}")
						td #{module}
						td #{yaml.prov}
						td #{yaml.desc}

			h2.step Options:

						
			.save

				label
					input(type="checkbox", name="minified", value="1")
					| Download minified source code

				label
					input(type="checkbox", name="compat", value="1")
					| Download with compat layer

				if project != 'Core'
					label
						input(type="checkbox", name="removeCoreDependencies", value="1")
						| Remove MooTools Core's dependencies

				label
					a.button.highlighted.getFile(href='#')
						span Download custom MooTools #{project}
						span.version Ver. #{version}
						span.icon.download(aria-hidden='true')

	.clearfix.wrapper.builder
		if (navigation == 'core')
			div.header.clearfix
				h1 Older versions of MooTools
				mixin older-version-select(versions)
